<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<nav th:fragment="menu1">
    <ul class="menu-horizontal">
        <li><a href="#">Inicio</a></li>
        <li>
            <a href="#">Admin</a>
            <ul class="menu-vertical">
                <li><a href="#">Crear cita</a></li>
                <li><a href="#">Crear empleado</a></li>
                <li><a href="#">crear servicio</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Cliente Login</a>
            <ul class="menu-vertical">
                <li><a href="#">Inicio Sesion</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </li>
        <li><a href="#">Perfil</a></li>

    </ul>
</nav>
</body>
</html>