<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<nav th:fragment="menu1">
    <ul class="menu-horizontal">
        <li><a th:href="@{/inicio}">Inicio</a></li>
        <li>
            <a href="#">Admin</a>
            <ul class="menu-vertical">
                <li><a th:href="@{/cita}">Crear cita</a></li>
                <li><a th:href="@{/empleado}">Crear empleado</a></li>
                <li><a th:href="@{/servicio}">Crear servicio</a></li>
                <li><a th:href="@{/mis_citas}">Lista Citas</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Login</a>
            <ul class="menu-vertical">
                <li><a th:href="@{/login}">Login Cliente</a></li>
                <li><a th:href="@{/crear_user}">Registrarse Cliente</a></li>
                <li><a th:href="@{/login}">Login Empleado</a></li>
                <li><a th:href="@{/empleado}">Registrarse Empleado</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Perfil</a>
            <ul class="menu-vertical">
                <li><a th:href="@{/perfil}">Informacion</a></li>
                <li><a th:href="@{/crearUser}">Mis Citas</a></li>
            </ul>
        </li>

    </ul>
</nav>
</body>
</html>