
*{
    margin: 0;
    padding: 0;
}

.inicio{
    font-size: 30px;
    text-align: center;

}


.formulario{
    font-size: 20px;
    text-align: center;

}
footer {

    color: black;
}
.hrpie{
    width: 100%;
    text-align: center;
}


header {
    background: darkorchid;
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;

}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 25px;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    background: gold;
}
table {
    width: 100%;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;

}
th, td {
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
    padding: 2em;
}
.caption{
    background: cadetblue;
    text-align: center;
}
th{
    text-align: left;
}
.footerEspacio{
    padding-top: 5em;
}
