<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Cita Admin</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<div class="container text-center" >
  <form th:action="@{/admin/cita/actualizar}" th:object="${cita}" method="post" style="max-width: 400px; margin: 0 auto;">
    <div class="form-group">
      <label for="idCita">IDCita</label>
      <input type="text" id="idCita" name="idCita" th:field="*{idCita}" class="form-control" placeholder="idCita" required readonly>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" class="form-control" placeholder="descripcion" required>
    </div>
    <div class="form-group">
      <label for="fecha">Fecha</label>
      <input type="text" id="fecha" name="fecha" th:field="*{fecha}" class="form-control" placeholder="fecha" required>
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" id="estado" name="estado" th:field="*{estado}" class="form-control" placeholder="estado" required>
    </div>
    <div class="form-group">
      <label for="servicioIdServicio">Codigo Servico</label>
      <input type="text" id="servicioIdServicio" name="empleadoIdEmpleado" th:field="*{servicioIdServicio}" class="form-control" placeholder="servicioIdServicio" required>
    </div>
    <div class="form-group">
      <label for="userIdUser">Codigo Usuario</label>
      <input type="text" id="userIdUser" name="clienteIdCliente" th:field="*{userIdUser}" class="form-control" placeholder="userIdUser" required>
    </div>
    <button type="submit" class="btn btn-success">Actualizar</button>
  </form>
</div>

</body>
</html>
