<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Empleado Admin</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<div class="container">
  <form th:action="@{/admin/actualizar/empleado}" th:object="${empleado}" method="post">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">idEmpleado</th>
        <th scope="col">nombre</th>
        <th scope="col">password</th>
        <th scope="col">nombre</th>
        <th scope="col">telefono</th>

      </thead>
      <tbody>
      <th><input type="text" name="idEmpleado" th:field="*{idEmpleado}" class="form-control" placeholder="idEmpleado" required readonly></th>
      <td><input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="nombre" required></td>
      <td><input type="text" name="password" th:field="*{password}" class="form-control" placeholder="password" required ></td>
      <td><input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="nombre" required></td>
      <td><input type="text" name="telefono" th:field="*{telefono}" class="form-control" placeholder="telefono" required></td>
      <td><button class="btn btn-success" >Actualizar</button></td>
      </tbody>
    </table>
  </form>
</div>


</body>
</html>