<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de las asignaturas</title>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<main>


  <div>
    <header th:replace="header/nav :: mimenu"></header>
  </div>
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>


  <div>
    <table class="table table-hover container">
      <thead>
      <tr>
        <th class="caption">ID</th>
        <th class="caption">Nombre de la Asignatura</th>
        <th class="caption">Professor ID</th>
        <th class="caption">Aula ID</th>
        <th class="caption">Curso ID</th>


      </thead>
      <tbody>
      <tr th:each="asignatura : ${asignaturas}">
        <td  th:text="${asignatura.idAsignatura}">ID</td>
        <td th:text="${asignatura.nombreAsignatura}">Nombre de la Asignatura</td>
        <td th:text="${asignatura.professorIdProfessor}">Professor ID</td>
        <td th:text="${asignatura.aulaIdAula}">Aula ID</td>
        <td th:text="${asignatura.cursoIdCurso}">Curso ID</td>
      </tr>
      </tbody>
    </table>
  </div>

</main>
</body>
</html>