<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asignaturas</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<div>
    <header th:replace="header/nav :: mimenu"></header>
</div>


<div>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="notas">
<table>
    <tr class="caption_notas">
        <th>MÓDULO</th>
        <th>NOTAS</th>
    </tr>
    <tr>
        <th class="notas_th">Acceso a datos	</th>
        <td>8</td>
    </tr>
    <tr>
        <th class="notas_th">Desarrollo de interfaces</th>
        <td>9</td>
    </tr>
    <tr>
        <th  class="notas_th">Empresa e iniciativa emprendedora</th>
        <td>1</td>
    </tr>
    <tr>
        <th  class="notas_th">Inglés </th>
        <td>4</td>
    </tr>
    <tr>
        <th  class="notas_th">Programación multimedia y dispositivos móviles</th>
        <td>5</td>
    </tr>
    <tr>
        <th  class="notas_th">Sistemas de gestión empresarial</th>
        <td>7</td>
    </tr>
</table>
</div>

<div>

</div>

<div>
    <hr class="hrpie">
    <footer th:replace="foot/pie :: mipie"></footer>
</div>

</body>
</html>