<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asignaturas</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<div>
    <header th:replace="header/nav :: mimenu"></header>
</div>


<div>
    <br>
    <br>
    <br>
    <br>
</div>

<div>

    <table>
        <tr >
            <th class="caption" >MÓDULO</th>
            <th class="caption">PROFESSORES</th>
        </tr>
        <tr>
            <th>Acceso a datos	</th>
            <td>JUAN JOSE PEDRAZA PENOUCOS</td>
        </tr>
        <tr>
            <th>Desarrollo de interfaces</th>
            <td>BEATRIZ EMMANUELLE TARI COSTA</td>
        </tr>
        <tr>
            <th>Empresa e iniciativa emprendedora</th>
            <td>FRANCISCO DE BORJA GRIFOL GUIXOT</td>
        </tr>
        <tr>
            <th>Inglés </th>
            <td>GERMAN GASCON GRAU</td>
        </tr>
        <tr>
            <th>Programación multimedia y dispositivos móviles</th>
            <td>ALBERTO CLIMENT CARDONA</td>
        </tr>
        <tr>
            <th>Sistemas de gestión empresarial</th>
            <td>ANGELES RICO FLORES</td>
        </tr>
    </table>
</div>

<div class="footerEspacio">
    <hr class="hrpie">
    <footer th:replace="foot/pie :: mipie"></footer>
</div>

</body>
</html>