<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>


<div>
    <header th:replace="header/nav :: mimenu"></header>
</div>

<div class="container text-center">
    <img class="text-center" src="/img/logoPrincipal.png">
</div>



<div class="container">
    <h1 class="text-center" >Buscar Servicios</h1>
    <!-- Actualizar el atributo th:action con la ruta correcta -->
    <form th:action="@{/buscar}" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" name="query" placeholder="Buscar por nombre">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div class="mt-3">
        <h4 class="text-center">Categorias</h4>
        <form class="text-center" th:action="@{/buscarCategoria}" method="post">
            <button  type="submit" name="query" value="arte" class="btn btn-success">Arte</button>
            <button  type="submit" name="query" value="pagina web" class="btn btn-success">Pagina Web</button>
            <button  type="submit" name="query" value="marketing digital" class="btn btn-success">Marketing Digital</button>
            <!-- Agrega más botones según tus necesidades -->
        </form>
    </div>
<br>
    <!-- Mostrar resultados de la búsqueda -->
    <div th:if="${resultados}">
        <h2 class="text-center">Resultados de la busqueda</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div th:each="servicio : ${resultados}" class="col">
                <div class="card">
                    <img class="card-img-top" th:src="@{/img/{imageName}(imageName=${servicio.imagen})}" alt="Imagen de servicio">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${servicio.nombre}"></h5>
                        <!-- Puedes agregar más contenido aquí si es necesario -->
                        <p class="card-text" th:text="${servicio.categoria}"></p>
                        <p class="card-text" th:text="${servicio.descripcion}"></p>
                        <p  class="card-text" th:text="${servicio.precio} + '$'"></p>
                        <!-- Actualizar el href para incluir la ruta correcta y el ID del servicio como parámetro -->
                        <a  th:href="@{'/cita?servicioId=' + ${servicio.idServicio}}" class="btn btn-primary">Pedir Cita</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Obtener todos los botones "Go somewhere"
    var buttons = document.querySelectorAll('.btn-primary');
    // Iterar sobre cada botón
    buttons.forEach(function(button) {
        // Agregar un event listener para escuchar el clic
        button.addEventListener('click', function() {
            // Obtener el ID del servicio desde el atributo href del botón
            var servicioId = button.getAttribute('href').split('=')[1];
            // Actualizar el valor del campo servicioIdServicio con el ID del servicio
            document.querySelector('input[name="servicioIdServicio"]').value = servicioId;
        });
    });
</script>
</body>
</html>
