<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<main>

  <div>
    <header th:replace="header/nav :: mimenu"></header>
  </div>

  <div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <form class="formulario" id="cursoform" th:action="@{/curso/submit}" th:object="${curso}" action="" method="post">
    <h1>Curso</h1>
    <div><label>Nombre del curso</label></div>
    <input type="nombre" th:field="*{nombre}" name="nombre" />
    <div><label>Codigo</label></div>
    <input type="codigo" th:field="*{codigo}" name="codigo"/>
    <button type="submit" value="Curso">Continue</button>
  </form>
</main>
</body>
</html>