<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Cita</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<div class="container">
  <form th:action="@{/cita/actualizar}" th:object="${cita}" method="post">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">IDCita</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Codigo Servico</th>
        <th scope="col">Codigo Usuario</th>
      </thead>
      <tbody>
      <th><input type="text" name="idCita" th:field="*{idCita}" class="form-control" placeholder="idCita" required readonly></th>
      <td><input type="text" name="descripcion" th:field="*{descripcion}" class="form-control" placeholder="descripcion" required></td>
      <td><input type="text" name="fecha" th:field="*{fecha}" class="form-control" placeholder="fecha" required></td>
      <td><input type="text" name="estado" th:field="*{estado}" class="form-control" placeholder="estado" required readonly></td>
      <td><input type="text" name="empleadoIdEmpleado" th:field="*{servicioIdServicio}" class="form-control" placeholder="servicioIdServicio" required></td>
      <td><input type="text" name="clienteIdCliente" th:field="*{userIdUser}" class="form-control" placeholder="userIdUser" required></td>
      <td><button class="btn btn-success" >Actualizar</button></td>
      </tbody>
    </table>
  </form>
</div>


</body>
</html>