<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Empleado</title>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<div>
  <header th:replace="header/nav :: mimenu"></header>
</div>



<form class="formulario" id="empleadoform" th:action="@{/empleado/submit}" th:object="${empleado}" action="" method="post">
  <h1>Registro de Empleado</h1>
  <div><label>Nombre de Empleado</label></div>
  <input type="text" th:field="*{nombre}" name="nombre" />
  <div><label>Email</label></div>
  <input type="text" th:field="*{email}" name="email"/>
  <div><label>Password</label></div>
  <input type="text" th:field="*{password}" name="password"/>
  <div><label>Telefono (Opcional)</label></div>
  <input type="text" th:field="*{telefono}" name="precio"/>
  <div><label>Id Servicio</label></div>
  <input type="number" th:field="*{servicioIdServicio}" name="servicio_id_servicio"/>
  <button type="submit" value="Curso">Continue</button>
</form>

</body>
</html>