<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listar Empleados</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>


<div>
  <header th:replace="header/nav :: mimenu"></header>
</div>
<div class="container text-center">
  <h1>Lista de Empleado</h1>

  <div>
    <table class="table table-striped table-bordered" >

      <thead class="thead-dark">
      <tr>
        <th class="caption">ID</th>
        <th class="caption">Nombre Empleado</th>
        <th class="caption">password</th>
        <th class="caption">email</th>
        <th class="caption">telefono</th>



      </thead>

      <tbody>
      <tr   th:each="empleados : ${empleado}">
        <div>
          <td class="card-text" th:text="${empleados.idEmpleado}"></td>
          <td class="card-title text-right"  th:text="${empleados.nombre}"></td>
          <td class="card-text" th:text="${empleados.password}">  </td>
          <td class="card-text" th:text="${empleados.email}"></td>
          <td class="card-text" th:text="${empleados.telefono}"></td>

          <td>
            <a th:href="@{/admin/editar/empleado/{id}(id=${empleados.idEmpleado})}" class="btn btn-info">Editar</a>
            <a th:href="@{/admin/borrar/empleado/{id}(id=${empleados.idEmpleado})}" class="btn btn-danger">Borrar</a>

          </td>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>
</html>