<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listar Servicios</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>


<div>
  <header th:replace="header/nav :: mimenu"></header>
</div>
<div class="container text-center">
    <h1>Lista de Servicios</h1>

  <div>
    <table class="table table-striped table-bordered" >

      <thead class="thead-dark">
      <tr>
          <th class="caption">ID</th>
          <th class="caption">Nombre del Servicio</th>
          <th class="caption">Categoria</th>
          <th class="caption">Descipcion</th>
          <th class="caption">Precio</th>
          <th class="caption">ImagenNombre</th>


      </thead>

      <tbody>
      <tr   th:each="servicio : ${servicio}">
        <div>
          <td class="card-title text-right"  th:text="${servicio.idServicio}"></td>
          <td class="card-text" th:text="${servicio.nombre}"></td>
          <td class="card-text" th:text="${servicio.categoria}"></td>
          <td class="card-text" th:text="${servicio.descripcion}"></td>
          <td class="card-text" th:text="${servicio.precio}"></td>
          <td class="card-text" th:text="${servicio.imagen}"></td>
          <td>
            <a th:href="@{/admin/editar/{id}(id=${servicio.idServicio})}" class="btn btn-info">Editar</a>
            <a th:href="@{/admin/borrar/{id}(id=${servicio.idServicio})}" class="btn btn-danger">Borrar</a>

          </td>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
  </div>


</body>
</html>