<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/estilo.css}"></head>
<body>

<div>
    <header th:replace="header/nav :: mimenu"></header>
</div>


<div class="container text-center">
    <div>
        <h1>Iniciar Sesion</h1>
    </div>
    <form id="loginform" th:action="@{/login}" method="POST" role="form" >
        <div class="container text-center">
            <div >
                <label >Nombre de Usuario: </label>
                <div >
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                </div>
            </div>

            <div >
                <label >Password: </label>
                <div >
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
<br>
            <div>
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </form>
</div>


</body>
</html>

<!--

<main>
        <form id="loginform" th:action="@{/login}" method="POST" role="form" >
            <h1>Login</h1>
            <input type="text" name="usuario" id="usuario" placeholder="Usuario">
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <hr>
            <button type="submit">Continue</button>
            <small class="text-muted"><a href="/crear_user">Register here!</a></small>
        </form>
    </main>

  -->