<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<main>
  <form id="loginform" th:action="@{/login}" method="POST" role="form" >
    <h1>Login</h1>
    <input type="text" name="text" id="usuario_name" placeholder="usuario_name">
    <br>
    <input type="password" name="password" id="password" placeholder="Password">
    <hr>
    <button type="submit">Continue</button>
    <small class="text-muted"><a href="/register">Register here!</a></small>
  </form>
</main>
</body>
</html>