<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<main>

  <div>
    <header th:replace="header/nav :: mimenu"></header>
  </div>





    <form id="loginform" th:action="@{/login}" method="POST" role="form" >
      <h1>Login</h1>
      <input type="text" name="usuario" id="usuario" placeholder="Usuario">
      <br>
      <input type="password" name="password" id="password" placeholder="Password">
      <hr>
      <button type="submit">Continue</button>
      <small class="text-muted"><a href="/auth/register">Register here!</a></small>
    </form>
</main>
</body>
</html>

<!--
  <h2>Login</h2>
  <form th:action="@{/login}" method="post">
    <label for="usuario">Username:</label>
    <input type="text" id="usuario" name="usuario" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
    <small class="text-muted"><a th:href="@{/cliente}">Register</a></small>
  </form>-->