<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notas</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<div>
    <header th:replace="header/nav :: mimenu"></header>
</div>


<div>
    <br>
    <br>
    <br>
    <br>
</div>

<table>
    <tr >
        <th class="caption" >MÓDULO</th>
        <th class="caption">NOTAS</th>
    </tr>
    <tr>
        <th>Acceso a datos	</th>
        <td>8</td>
    </tr>
    <tr>
        <th>Desarrollo de interfaces</th>
        <td>9</td>
    </tr>
    <tr>
        <th>Empresa e iniciativa emprendedora</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Inglés </th>
        <td>4</td>
    </tr>
    <tr>
        <th>Programación multimedia y dispositivos móviles</th>
        <td>5</td>
    </tr>
    <tr>
        <th>Sistemas de gestión empresarial</th>
        <td>7</td>
    </tr>
</table>
</div>


<div  class="footerEspacio" >
    <hr class="hrpie">
    <footer th:replace="foot/pie :: mipie"></footer>
</div>
</body>
</html>