<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academia Raimon</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
<div>
        <header th:replace="header/nav :: mimenu"></header>
</div>


<div>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="inicio">
    <a  href="/login">Login</a>
    <br>
    <a  href="/register">Registrarte</a>
    <br>
    <br>
    <br>
    <p>Modo Admin</p><!--este campo seria solo para el admin-->
    <br>
    <a  href="/curso">Crear un curso</a>
    <br>
    <a  href="/aula">Crear un aula</a>
    <br>
    <a  href="/asignatura">Crear una Asignatura</a>
</div>



<div  class="footerEspacio">
    <hr class="hrpie">
        <footer th:replace="foot/pie :: mipie"></footer>
</div>



</body>
</html>