<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>


    <header>
        <nav>
            <ul>
                <li><a href="#"><img src="img/Icono-Academia.png"  width="35" height="30" ></a></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Asignaturas</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>




</body>
</html>