<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>

<div>
    <header th:replace="header/nav :: mimenu"></header>
</div>


<div>
    <br>
    <br>
    <br>
    <br>
</div>

<table>
    <tr>
        <th class="caption" >Perfil</th>
        <th class="caption">Informacion Personal</th>
    </tr>
    <tr>
        <th>Nombre	</th>
        <td>Kevin</td>
    </tr>
    <tr>
        <th>Apellidos</th>
        <td>Signes Puigcerver</td>
    </tr>
    <tr>
        <th>Fecha de Nacimiento</th>
        <td>11/10/2000</td>
    </tr>
    <tr>
        <th>Edad</th>
        <td>22</td>
    </tr>
    <tr>
        <th>Nombre de Usuario</th>
        <td>.....</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>......</td>
    </tr>
</table>


<div  class="footerEspacio">
    <hr class="hrpie">
    <footer th:replace="foot/pie :: mipie"></footer>
</div>
</body>
</html>