<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registro Servicio</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container text-center">
  <div>
    <h1>Registro  Servicio</h1>
  </div>
  <form th:action="@{/servicio/submit}" th:object="${servicio}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
      <div class="form-group row">
        <label class="col-4 col-form-label">Nombre del servicio: </label>
        <div class="col-8">
          <input type="text" th:field="*{nombre}" class="form-control" required placeholder="Nombre"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Categoria: </label>
        <div class="col-8">
          <select class="form-control" name="categoria" >
            <option value="opcionEnBlanco">Selecciona una opcion</option>
            <option value="opcion1">Arte</option>
            <option value="opcion2">Pagina Web</option>
            <option value="opcion3">Marketing Digital</option>
            <option value="opcion4">Oficio</option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label">Descripcion del servicio: </label>
        <div class="col-8">
          <textarea type="text" th:field="*{descripcion}" class="form-control" placeholder="Escribe la descripcion"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Precio: </label>
        <div class="col-8">
          <input type="number" th:field="*{precio}" class="form-control" placeholder="Euros"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Nombre de la imagen: </label>
        <div class="col-8">
          <input type="text" th:field="*{imagen}" class="form-control"/>
        </div>
      </div>


      <div>
        <button type="submit" class="btn btn-primary">Crear Servicio</button>
      </div>
    </div>
  </form>
</div>

<!--
<form class="formulario" id="servicioform" th:action="@{/servicio/submit}" th:object="${servicio}" action="" method="post">
  <h1>Servicio</h1>
  <div><label>Nombre del Servicio</label></div>
  <input type="text" th:field="*{nombre}" name="nombre" />
  <div><label>Categoria</label></div>
  <input type="text" th:field="*{categoria}" name="categoria"/>
  <div><label>Descipcion</label></div>
  <input type="text" th:field="*{descripcion}" name="descripcion"/>
  <div><label>Precio</label></div>
  <input type="text" th:field="*{precio}" name="precio"/>
  <div><label>Empleado ID</label></div>
  <input type="text" th:field="*{empleadoIdEmpleado}" name="empleado_id_empleado"/>
  <button type="submit" value="Curso">Continue</button>
</form>
-->
</body>
</html>